<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css" />
  </head>
  <body>
    <%- include('../includes/header.ejs') %>
    <main>
       <% if(errorMessage){%>
        <div><%=errorMessage%></div>
      <% }%>
      <form class="product-form" action="/admin/<% if(editMode){%>edit-product<%}else{%>add-product<%}%>" method="POST" enctype="multipart/form-data">
        <div class="form-control">
          <label for="title">Title</label>
          <input type="text" name="title" id="title" value='<% if(editMode || product.title) {%><%=product.title%><%}%>' />
        </div>
        <div class="form-control">
          <label for="imageUrl">Product Image</label>
          <input type="text" name="imageUrl" id="imageUrl" value='<% if(editMode || product.imageUrl) {%><%=product.imageUrl%><%}%>' />
          <p>or</p>
          <input type="file" name='image' id='image'/>
        </div>
        <div class="form-control">
          <label for="price">Price</label>
          <input type="number" name="price" id="price" value='<% if(editMode || product.price) {%><%=product.price%><%}%>' step="0.01"/>
        </div>
        <div class="form-control">
          <label for="description">Desctiption</label>
          <input type="textarea" name="description" id="description" value='<% if(editMode || product.description) {%><%=product.description%><%}%>' />
        </div>
        <% if(editMode){%>
            <input type="hidden" value="<%=product._id%>" name='productId'>
        <% }%>
        <input type="hidden" value='<%=csurfToken%>' name='_csrf'/>
        <button type="submit"><% if(editMode) {%>Update Product<%}else{%>Add Product<%}%></button>
      </form>
    </main>
  </body>
</html>
