<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/header.ejs') %>
    <main>
      <% if(products.length){%>
        <ul>
          <% for(var product of products){%>
            <li>
              <p><%=product.productId.title%> (<%=product.quantity%>)</p>
              <form method="POST" action="/cart-delete-item"> 
                <input type="hidden" value='<%=product.productId._id%>' name='productId'/>
                <button class="btn" type="submit">Delete</button>
              </form>
            </li>
            <% }%>
        </ul>
        <form action="/orders" method="POST">
          <input type="hidden" value='<%=csurfToken%>' name='_csrf'/>
          <button type="submit">Order</button>
        </form> 
        
        <%}else{%>
          <p>No Products</p>
          <%}%>
    </main>
</body>
</html>