<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/header.ejs') %>
    <main>
      <% if(prods.length) {%>
      <h1>My Products</h1>
      <% for(var product of prods) { %>
      <article class="card product-item">
        <header class="card__header">
          <h1 class="product__title"><%=product.title %></h1>
        </header>
        <div class="card__image">
          <img
            src="/<%=product.imageUrl %>"
            alt="Book"
          />
          <div class="card__content">
            <h2 class="product__price"><%=product.price %></h2>
            <p class="product__description"><%=product.description %></p>
          </div>
          <div class="card__actions">
            <%- include('../includes/add-cart-button.ejs', {product:product}) %>
          </div>
        </div>
      </article>
      <%- include('../includes/pagination.ejs', {
        hasNextPage:hasNextPage,
        hasPreviousPage:hasPreviousPage,
        nextPage:nextPage,
        previousPage:previousPage,
        lastPage:lastPage
        }) %>
      <% } %>
      <% }else {%>
      <h1>No Products</h1>
      <% }%>
    </main>
  </body>
</html>
