<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/header.ejs') %>
    <% if(orders.length){%>
      <ul>
        <% orders.forEach(order=>{%>
          <li>
            <h1># <%=order._id%></h1>
            <ul>
              <% order.items.forEach(item=>{%>
                <li>
                  <%=item.product.title%>(<%=item.quantity%>)
                </li>
                  <%})%>
            </ul>
          </li>
        <%})%>
        </ul>
    <% }else{%>
      <p>No orders</p>
      <% }%>
</body>
</html>